@{
	ViewData["Title"] = "Edit";
}
@model EditModel

<form method="post" asp-action="Edit" asp-controller="Task">
	<input type="hidden" asp-for="@Model.Task.Id"/>
	<input type="hidden" asp-for="@Model.Task.UserId"/>
	<div>
		<p>
			<label asp-for="@Model.Task.Name">Name</label>
			<input type="text" asp-for="@Model.Task.Name"/>
			<span asp-validation-for="@Model.Task.Name"/>
		</p>
		<p>
			<label asp-for="@Model.Task.Content">Content</label>
			<textarea asp-for="@Model.Task.Content"></textarea>
			<span asp-validation-for="@Model.Task.Content"/>
		</p>
		<p>
			<label asp-for="@Model.Task.PriorityId">Priority</label>
			<select asp-for="@Model.Task.PriorityId">
				@foreach(var p in PriorityEntityHelper.DefaultPriorities)
				{
					<option value="@p.Id">@p.Name</option>
				}
			</select>
			<span asp-validation-for="@Model.Task.PriorityId"/>
		</p>
		<p>
			<label asp-for="@Model.Task.StateId">State</label>
			<select asp-for="@Model.Task.StateId">
				@foreach(var p in StateEntityHelper.DefaultStates)
				{
					<option value="@p.Id">@p.Name</option>
				}
			</select>
			<span asp-validation-for="@Model.Task.StateId"/>
		</p>
		<p>
			<input type="submit" value="Edit"/>
		</p>
	</div>
</form>