@{
    ViewData["Title"] = "Home";
}
@model IndexViewModel

<style>
    .field-content {
        padding: 10px;
        border-radius: 2px;
        width: 100%;
    }

    .text-content {}

    .title-name {
        font-size: 30px;
    }

    .title-priority {
        font-size: 20px;
    }

    .title-state {
        font-size: 20px;
    }

    .state-box {
        background-color: gainsboro;
        padding: 10px;
        width: 125px;
        border-radius: 2px;
        text-align: center;
        margin-top: 10px;
    }
</style>

@if ((bool)ViewBag.IsAuthenticated)
{
    <div>
        <a id="addButton" class="btn btn-primary" asp-controller="Task" asp-action="Create">Add</a>
    </div>

    <div class="mt-4">
        <h5>Filters</h5>
        <form class="form-inline d-flex" method="post" asp-controller="Home" asp-action="Search">
            <select asp-for="@Model.SearchBy">
                @foreach (var field in Enum.GetValues<TaskFields>())
                {
                    <option value="@field">@field</option>
                }
            </select>
            <input class="form-control mr-sm-2" style="margin-right:10px;" type="search" placeholder="Search"
                aria-label="Search" asp-for="@Model.SearchValue">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>


        <form class="mt-2" method="post" asp-controller="Home" asp-action="Sort">
            <label>Sorting by</label>
            <select asp-for="@Model.SortBy">
                @foreach (var field in Enum.GetValues<TaskFields>())
                {
                    <option value="@field">@field</option>
                }
            </select>
            <input type="checkbox" asp-for="@Model.IsDescending" id="sortDescending"/>
            <label for="sortDescending">Sort Descending</label>
            <button class="btn btn-primary" type="submit">Sort</button>
        </form>
    </div>

    <hr />

    @foreach (var task in Model.Tasks)
    {
        <div class="mt-4">
            <div class="card-deck">
                <div class="card">
                    <div class="card-header">
                        <span class="title-name">@task.Name</span><br />
                        <span class="title-priority">@(task.Priority.Name ?? "")</span>
                    </div>
                    <div class="card-body">
                        <div class="field-content">
                            <p class="card-text text-content">@task.Content</p>
                        </div>
                        <hr />
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between">
                                <form method="post" asp-controller="Task" asp-action="Delete" asp-route-id="@task.Id">
                                    <button type="submit" class="btn btn-danger deleteButton">Delete</button>
                                </form>
                                <form method="get" asp-controller="Task" asp-action="Edit" asp-route-id="@task.Id">
                                    <button type="submit" class="btn btn-primary editButton">Edit</button>
                                </form>
                            </div>
                            <div class="state-box align-self-end">
                                <p class="card-text title-state">@(task.State.Name ?? "")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Please enter your personal account</p>
    </div>
}
