@{
    ViewData["Title"] = "Profile";
}
@model IndexModel

@*!!!Доробити!!!*@

<div>
    <p>
        <span>Login:</span>
        <p>@Model.User.Login</p>
    </p>
    <p>
        <span>First name:</span>
        <p>@Model.User.FirstName</p>
    </p>
    <p>
        <span>Last name:</span>
        <p>@Model.User.LastName</p>
    </p>
    <p>
        <span>Email:</span>
        <p>@Model.User.Email</p>
    </p>
    <p>
        <span>Phone:</span>
        <p>@Model.User.Phone</p>
    </p>
</div>